<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm">
      <div class="row mb-2">
        <div class="col-12">
          <button
            class="btn btn-success me-2"
            type="submit"
            [disabled]="!recipeForm.valid"
            (click)="onSubmit()"
          >
            Save
          </button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input
              type="text"
              id="imageUrl"
              class="form-control"
              formControlName="imageUrl"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img [src]="imagePath.value" class="w-100" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12" formArrayName="ingredients">
          <div
            class="row mt-2"
            *ngFor="let ingredientCtrl of ingredientsControls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-4">
              <input type="text" class="form-control" formControlName="name" />
            </div>
            <div class="col-3">
              <input
                type="number"
                class="form-control"
                formControlName="amount"
              />
            </div>
            <div class="col-3">
              <input type="text" class="form-control" formControlName="unit" />
            </div>
            <div class="col-2">
              <button
                class="btn btn-danger"
                type="button"
                (click)="onDeleteIngredient(i)"
              >
                X
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button
            class="btn btn-success me-2"
            (click)="onAddIngredient()"
            type="button"
          >
            Add Ingredient
          </button>
          <button
            class="btn btn-primary"
            (click)="onClearIngredients()"
            type="button"
          >
            Clear All
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
