<form (ngSubmit)="onAddItem(f)" #f="ngForm">
  <div class="row">
    <div class="col-6">
      <div class="mb-3">
        <label for="ingredientName" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="ingredient name"
          id="ingredientName"
          name="name"
          ngModel
          required
        />
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="ingredientAmount" class="form-label">Amount</label>
        <input
          type="text"
          class="form-control"
          placeholder="amount"
          id="ingredientAmount"
          name="amount"
          ngModel
          required
          pattern="^[1-9]+[0-9]*$"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="ingredientUnit" class="form-label">Unit</label>
        <input
          type="text"
          class="form-control"
          placeholder="unit"
          id="ingredientUnit"
          name="unit"
          ngModel
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-success me-2" [disabled]="!f.valid">
        {{ editMode ? "Update" : "Add" }}
      </button>
      <button
        type="button"
        class="btn btn-danger me-2"
        (click)="onDelete()"
        *ngIf="editMode"
      >
        Delete
      </button>
      <button type="button" class="btn btn-primary" (click)="onClear()">
        Clear
      </button>
    </div>
  </div>
</form>
