<div class="row">
  <div class="col">
    <div class="card" *ngIf="recipe">
      <img [src]="recipe.imageUrl" class="card-img-top" [alt]="recipe.name" />
      <div class="card-header">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-subtitle text-muted">{{ recipe.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }} {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
      </ul>
      <div class="card-footer d-flex justify-content-end">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Manage Recipe
          </button>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="addToShoppingList()"
                >To Shopping List</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                [routerLink]="['edit', { relativeTo: this.route }]"
                >Edit Recipe</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                style="cursor: pointer"
                (click)="onDeleteRecipe()"
                >Delete Recipe</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
